@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}

/* extend html elements */
@layer base {
  h1 {
    @apply m-0 text-[2rem] tracking-[1px];
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply mx-0 mb-3 mt-4 border-[0] border-b border-solid border-[#bbb] pb-[10px];
  }

  h4 {
    @apply m-0 uppercase;
  }

  label {
    @apply mx-0 mt-[10px] inline-block;
  }

  input[type="text"],
  input[type="number"] {
    @apply block w-full rounded-[2px] border border-solid border-[#dedede] p-[10px] text-[16px];
  }
}

/* custom classes */
@layer components {
  .purple-btn {
    @apply cursor-pointer rounded border-0 bg-[rebeccapurple] px-[2rem] py-[0.5rem] text-white hover:opacity-[0.9];
  }

  .money {
    @apply m-0 text-[20px] tracking-[1px];
  }

  .li {
    @apply relative m-[10px] flex justify-between bg-white p-[10px] text-[#333];
  }
}
